body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  text-transform: uppercase;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.search {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 20vw;
  background-color: white;
  /display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  padding: 1rem 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.search-form {
  width: 80%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-form input {
  font-size: 1.8rem;
  padding: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
  width: 100%;
}

.search-form button {
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #00aaff;
  color: white;
  cursor: pointer;
  width: 100%;
  margin-top: 1rem;
}

.search-form button:active {
  transform: translateY(4px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.search-form button:active {
  background-color: #32cd32;
  color: white;
  border-color: #32cd32;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  margin-top: 20vw;
  max-width: 100%;
}

.photo-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.load-more {
  font-size: 1.6rem;
  color: #fff;
  background-color: #00aaff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: none;
  margin: 20px auto;
}

.load-more:hover {
  background-color: #32cd32;
}

.notiflix-notify {
  font-size: 1.4rem;
}

@media (max-width: 600px) {
  .search-form input,
  .search-form button {
    width: 90%;
  }
}

form {
  background-color: aliceblue;
}
